{% extends "base.html" %}

{% block title %} <title>Petram Control - Login</title> {% endblock %}

{% block nav-items %}
<li class="nav-item active">
  <a class="nav-link" href="{% url "login" %}">Login <span class="sr-only">(current)</span></a>
</li>
{% endblock %}

{% block container %}
<section>
  <div class="row m-auto banner px-5 d-flex justify-content-center align-items-center">
    <div class="col-sm-12 col-md-8">
      <h1 class="text-white pr-5">Petram Control, Ten el control en tus manos</h1>
    </div>
    <div class="col-sm-12 col-md-4 p-4 shadow bg-white">
      {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Upps!</strong> {{ error }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
      <form method="POST" action="{% url "login" %}">
        {% csrf_token %}
        <h2>Inicia sesión</h2>
        <div class="form-group">
          <label for="username">Nombre de usuario</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password">
          <small id="passHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Mantener la session iniciada</label>
        </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>
      </form>

    </div>
  </div>
</section>  
{% endblock %}
